@model CustomerViewModel
@{
    Layout = null;
}

<link href="~/lib/bootstrap/dist/css/bootstrap.rtl.min.css" rel="stylesheet" />

<div class="container">
    <br /> <br />
    <form method="post">
        <label>Gönderen Müşteri ID</label>
        <input type="text" class="form-control" asp-for="SenderID" />
        <br /> 
        <label>Alıcı Müşteri ID</label>
        <input type="text" class="form-control" asp-for="ReceiverID" />
        <br />
        <label>Gönderilecek Tutar</label>
        <input type="text" class="form-control" asp-for="Amount" />
        <br />
        <button class="btn btn-info">Para Gönder</button>
    </form>
</div>

